body{
    font-family: sans-serif;
    margin: 50px 50px 0 50px;
    background-color: azure;
    display:flex;
    flex-direction: column;
    min-height: 95vh;

}
.main{
    flex: 1 ;
}
h1{
    font-size: 5rem;
}
.crafty{
    color: blueviolet;


}
#footer{
    text-align: right;
    color: midnightblue;
}
.tile img{
    height: 200px;
    float:left;
    margin-right: 50px;

}
.box{
    width: 45%;
}
.left{
    float: left;
}
.right{
    float: right;}
    
   @media (max-width: 680px) {
        .logo {
          width: 100px;
        }
    }
        h1 {
          font-size: 3.5rem;
          text-align: center;
        }
      
        .box {
          width: 100%;
          display: block;
          margin-bottom: 30px;
          text-align: justify;
        }
      
        .box img {
          margin-bottom: 10px; width: 100%;
          display: inline;
          object-fit: cover;}

    


